n8n/auto-clip-with-http.json
{
  "name": "Auto AI clip with HTTP",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "feedUrl": "https://"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        176,
        120
      ],
      "id": "687c7261-d156-4de8-9d09-2d86d713674e",
      "name": "When New Video"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        120
      ],
      "id": "17d4da74-8537-4ff2-ab78-53f43588835c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        48
      ],
      "id": "886c856e-f40a-41d7-973d-4733250d675e",
      "name": "Wait",
      "webhookId": "2ab3043e-0b87-4581-a2a3-f62c4f36bc8a"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"counter\": 0\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        120
      ],
      "id": "bb24f83a-4eff-47fc-b69c-fe593b21f531",
      "name": "Counter Init"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": {{ $('Counter Init').item.json.counter }} + 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        48
      ],
      "id": "3969f57a-82ec-4789-b2b9-5f9088d2dffb",
      "name": "Counter +1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "154cd90a-9814-46bc-aa7d-1078fdc14d00",
              "leftValue": "={{ $('Counter Init').item.json.counter }}",
              "rightValue": "10",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        216
      ],
      "id": "60f7d423-5948-45f4-b8f3-6ff90ada58f1",
      "name": "If MAX Reached"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9b91fbc-9116-425c-910b-116648c733ed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1744,
        48
      ],
      "id": "0c430d67-fecd-435b-8b7f-2a917fcb977a",
      "name": "If Completed"
    },
    {
      "parameters": {
        "sendTo": "me@example.com",
        "subject": "Oops...",
        "message": "=Hi,\nThere is a problem with the creation of your clip for the video: {{ $('When New Video').item.json.link }}\n\nIt takes longer then planned, we invite you to look for more details in your 8n8 automation.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2192,
        216
      ],
      "id": "b9657926-f93d-462d-949d-ff590ba87c84",
      "name": "Send Failure EMail",
      "webhookId": "dc587f4f-7460-478b-85ab-49779ee8be0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "9yszloSAND1yZxpA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "me@example.com",
        "subject": "Your Clip is ready",
        "message": "=Hello! Your clip is ready to be downloded. \n\nTitle: {{ $('Check clip job status').item.json.output[0].title }}  \n\nDownload it here: {{ $('Check clip job status').item.json.output[0].video_url }} \n\nDescription: {{ $('Check clip job status').item.json.output[0].caption }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1968,
        0
      ],
      "id": "ec4cbbbb-7c1b-4b52-a830-c1787a73d6f1",
      "name": "Send Clip Ready EMail",
      "webhookId": "0817bace-6d79-4178-aa10-bca6e74f2275",
      "credentials": {
        "gmailOAuth2": {
          "id": "9yszloSAND1yZxpA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## if MAX Reached\n\nExit after 10 check to avoid infinite loop",
        "height": 112,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        272
      ],
      "typeVersion": 1,
      "id": "96e99df0-74f5-4216-825f-1155d200591b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##  When New Video\nSet the Feed URL to the YouTube channel you want to follow \n(ex: https://www.youtube.com/feeds/videos.xml?channel_id=UCAr20GBQayL-nFPWFnUHNAA)\n",
        "height": 176,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -80
      ],
      "typeVersion": 1,
      "id": "397177ca-9ed9-4a8e-b85a-92e351cfdf39",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Try It Out!\n**This n8n template demonstrate how to use Reka AI to automatically generate an clip from a YouTube video, and send email notification**\n\n### How it works\n- Looking at the RSS feed of of a YouTube channel the flow will be trigger when there a new video published.\n- Using Reka's API we will submit a request for creating a clip using AI. You can customize: \n  - the template used\n  - the prompt to generate the clip\n  - if you want caption or not\n  - the minimum or maximum duration of the clip\n- Wait a little while the magics hapends\n- Check if the job status is **completed**\n  - If **yes**, it send an success **email**\n  - if **no**, it will **loop**\n  - as a failsafe after 10 iterations in the loop it will send an error email \n\n### Gettting Started\nEdit those nodes with your settings and credentials.\n- **When New Video**: Set the Feed URL to the YouTube channel you want to follow (ex: \n- **Create a clip**: Add your credential. Change the prompt and adjust the setting to your preferences\n- **Send ___ EMail**: Personalize the email the way you like.\n\n\n### Requirements\n- Reka AI API key (it's free! Get yours from [here from Reka](https://link.reka.ai/free))\n- Gmail account (feel free to change it for other mail provider)\n\n### Need Help?\nJoin the [Discord](https://link.reka.ai/discord)\n\nHappy clipping!\n",
        "height": 816,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -320
      ],
      "typeVersion": 1,
      "id": "5f9a5b4a-dacb-40ea-8ff6-3b3010e1626a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 💡 Waiting\nGenerating the clip can take time. The video need to be downloaded to your Reka's librart, analyzed, edit, then render. Adjust the waiting duration according the duration of your video. \n#### Example\nFor a 5-8 minutes videos wait 15 minutes.",
        "height": 192,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -208
      ],
      "typeVersion": 1,
      "id": "1f54a8bf-0fdf-4bea-8010-9943313bbb5c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision-agent.api.reka.ai/v1/creator/reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\"{{ $json.link }}\"],\n  \"prompt\": \"Create an engaging short video highlighting the best moments\",\n  \"generation_config\": {\n    \"template\": \"moments\",\n    \"num_generations\": 1,\n    \"min_duration_seconds\": 0,\n    \"max_duration_seconds\": 30\n  },\n  \"rendering_config\": {\n    \"subtitles\": true,\n    \"aspect_ratio\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        120
      ],
      "id": "e9b9278f-cbc8-4675-a025-8881e1374c50",
      "name": "Create Reel Creation Job",
      "credentials": {
        "httpBearerAuth": {
          "id": "MgKBtJ6WnjZ9BSdq",
          "name": "Reka APIs"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Reel Creation Job\n\nThis API call will upload the video into your Reka's library and create a job for the clip.\n\n### Parameters\n\n- `video_urls` (string, required): URLs of input videos\n- `prompt` (string, required): Description of the reel to generate\n\n**generation_config**\n\n- `template` (“moments” | “compilation”, default: “moments”)\n- `num_generations` (integer, default: 1)\n- `min_duration_seconds` (integer, optional)\n- `max_duration_seconds` (integer, optional)\n\n**rendering_config**\n\n- `subtitles` (boolean, default: true)\n- `aspect_ratio` (string, default: “9:16”) examples: “9:16”, “16:9”, “1:1”, “4:5”\n\n#### Example of a complete JSON\n\n```json\n{\n  \"video_urls\": [\"{{ $json.link }}\"],\n  \"prompt\": \"Create an engaging short video highlighting the best moments\",\n  \"generation_config\": {\n    \"template\": \"moments\",\n    \"num_generations\": 1,\n    \"min_duration_seconds\": 0,\n    \"max_duration_seconds\": 30\n  },\n  \"rendering_config\": {\n    \"subtitles\": true,\n    \"aspect_ratio\": \"9:16\"\n  }\n}\n```",
        "height": 864,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        304
      ],
      "id": "8d9664e5-2868-438c-96b5-d4ff45c4ee0a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "url": "=https://vision-agent.api.reka.ai/v1/creator/reels/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1296,
        48
      ],
      "id": "4f597663-96f5-4727-b1ed-793c967511d5",
      "name": "Get Job Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "MgKBtJ6WnjZ9BSdq",
          "name": "Reka APIs"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When New Video": {
      "main": [
        [
          {
            "node": "Create Reel Creation Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter Init": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counter +1": {
      "main": [
        [
          {
            "node": "If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If MAX Reached": {
      "main": [
        [
          {
            "node": "Send Failure EMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Completed": {
      "main": [
        [
          {
            "node": "Send Clip Ready EMail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If MAX Reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Reel Creation Job": {
      "main": [
        [
          {
            "node": "Counter Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Status": {
      "main": [
        [
          {
            "node": "Counter +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c9dccb50-a208-4a61-af6a-dedd8bac94e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6858c8c7c1e65719f830aa26848bb95a1ee32209522910054674a1335f440bbd"
  },
  "id": "xdDwawMRHT2mUW2y",
  "tags": [
    {
      "updatedAt": "2026-01-22T16:43:17.041Z",
      "createdAt": "2026-01-22T16:43:17.041Z",
      "id": "OTu1FZEPK99nfYcb",
      "name": "clip"
    }
  ]
}