n8n/Submit Reel Creation.json
{
  "name": "Submit Reel Creation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision-agent.api.reka.ai/v1/creator/reels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\"{{ $json.link }}\"],\n  \"prompt\": \"Create an engaging short video highlighting the best moments\",\n  \"generation_config\": {\n    \"template\": \"moments\",\n    \"num_generations\": 1,\n    \"min_duration_seconds\": 0,\n    \"max_duration_seconds\": 30\n  },\n  \"rendering_config\": {\n    \"subtitles\": true,\n    \"aspect_ratio\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "1ffa0f23-e709-4452-a58e-5f5802c89a92",
      "name": "Create Reel Creation Job",
      "credentials": {
        "httpBearerAuth": {
          "id": "MgKBtJ6WnjZ9BSdq",
          "name": "Reka APIs"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.youtube.com/feeds/videos.xml?channel_id=UCAr20GBQayL-nFPWFnUHNAA"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "11592fb0-bd80-4f76-9c9c-32eb7985540b",
      "name": "When New Video"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "uaiq2SUUCckXQllg",
          "mode": "list",
          "cachedResultName": "videos",
          "cachedResultUrl": "/projects/chsSxA3l9boH5s98/datatables/uaiq2SUUCckXQllg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $json.id }}",
            "job_status": "={{ $json.status }}",
            "video_title": "={{ $('When New Video').item.json.title }}",
            "video_url": "={{ $('When New Video').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_title",
              "displayName": "video_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_status",
              "displayName": "job_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "aa963ae5-f0e4-433f-938b-0e999e55f7d9",
      "name": "Insert row"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Reel Creation Job": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When New Video": {
      "main": [
        [
          {
            "node": "Create Reel Creation Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51ed76a1-99f9-483c-875f-183b0b53a5d8",
  "meta": {
    "instanceId": "6858c8c7c1e65719f830aa26848bb95a1ee32209522910054674a1335f440bbd"
  },
  "id": "jawReCTojHoTevif",
  "tags": []
}